*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#000;
color:white;

font-family:"Inter",sans-serif;

padding-top:70px;

}



.sekuya-regular{

font-family:"Sekuya",sans-serif;

}



.navbar{

background:#000;

}





.banner{

height:90vh;

background:

linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.7)
),

url("images/banner.jpg")
center/cover;


}



.banner h1{

font-size:55px;

}



.banner p{

font-size:20px;

color:#ddd;

}




.btn-custom{

height:50px;

padding:0 35px;

border-radius:15px;

font-weight:bold;

}





.card{


background:#111;

border:none;

border-radius:20px;

overflow:hidden;

color:white;

transition:.3s;


}



.card img{

height:180px;

object-fit:cover;

}



.card:hover{

transform:translateY(-8px);

}





.card p{

color:#bbb;

}





.diferencial-box{


background:#111;

border-radius:20px;

height:100%;

transition:.3s;


}


.diferencial-box:hover{

transform:translateY(-8px);

background:#151515;

}





footer{


background:#000;

text-align:center;

padding:25px;

color:#aaa;


}




@media(max-width:576px){


.banner h1{

font-size:35px;

}


}